/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}


.text-section{
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.img-info {
  text-align: center;
  padding-top: 2%;
}

.img-info img{
  width: auto;
  max-height: 60px;
}

h3 {
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}

.text-section ul {
  margin-left: 0px;
  list-style: none;
}


li::before {
  content: "-";
  padding-right: 8px;
}

h3 {
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}

.header {
  position: relative;
  text-align: center;
  color: white;
  margin-left: 20px;
  margin-bottom: 20px;
}

.header h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45pt;
}

.header img {
  height: 400px;
  width: 800px;
  object-fit: cover;
}